# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
BeatTheScarVR/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
BeatTheScarVR/Library/ScriptAssemblies/Assembly-UnityScript.dll
BeatTheScarVR/Library/expandedItems
BeatTheScarVR/Library/metadata/00/00000000000000002000000000000000
