body {
    background-image: url("../res/images/feedback.jpg");
    background-repeat: no-repeat;
    background-position:top;
    background-color: #081420;
    -webkit-animation-name: BGC; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: BGC;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin: 0;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes BGC {
    0%{background-color: #081420;}
    50% {background-color: #07335a;}
    100%{background-color: #081420;}
}

/* Standard syntax */
@keyframes BGC {
    0%{background-color: #081420;}
    50% {background-color: #07335a;}
    100%{background-color: #081420;}
}

#current_table {
    background-color: #07335a;
    position: relative;
    top: 200px;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    padding-left:10px;
    padding-right:10px;
    border:5px;
    color:white;
}


.button1{
    background-color: #bacfec;
    width: 180px;
    font-size: 15px;
    padding: 5px;
    border: 2px solid #446694;
}
.button1:hover{
    background-color:#446694;
}

#infor_table {
    position: relative;
    top:180px;
    width: 680px;
    text-align: left;
    font-style: normal;
    padding: 0px;
}
#infor_table,tr,td{
    padding: 0px;
}

.CP{
    font-size: 16px;
    color: #fefefe;
}