body {
    background-image: url("../res/images/feedback.jpg");
    background-repeat: no-repeat;
    background-position:top;
    background-color: #081420;
    -webkit-animation-name: BGC; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: BGC;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin: 0;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes BGC {
    0%{background-color: #081420;}
    50% {background-color: #07335a;}
    100%{background-color: #081420;}
}

/* Standard syntax */
@keyframes BGC {
    0%{background-color: #081420;}
    50% {background-color: #07335a;}
    100%{background-color: #081420;}
}

#feedback_table {
    background-color: #07335a;
    position: relative;
    width:720px;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    padding:10px;
    border:5px;
    color:white;
}


.button1{
    position: absolute;
    background-color: #bacfec;
    width: 100px;
    height: 20px;
    font-size: 15px;
    padding: 5px;
    margin: auto;
    top: 80%; left: 0; bottom: 0; right: 0; 
    border: 2px solid #446694;
    text-align:center;
}
.button1:hover{
    background-color:#446694;
}

#infor_table {
    position: relative;
    top:180px;
    width: 680px;
    text-align: left;
    font-style: normal;
    padding: 0px;
}
#infor_table,tr,td{
    padding: 0px;
}

.CP{
    font-size: 16px;
    color: #fefefe;
}

.button_goback{
    position: relative;
    background-color: #bacfec;
    width: 60px;
    height: 15px;
    font-size: 15px;
    padding: 5px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0; 
    border: 2px solid #446694;
    text-align:center;
}
.button_goback:hover{
    background-color:#446694;
}

.help_button{
    position: relative;
    background-color: #bacfec;
    width: 60px;
    height: 15px;
    font-size: 15px;
    padding: 5px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0; 
    border: 2px solid #446694;
    text-align:center;
}
.help_button:hover{
    background-color:#446694;
}


