footer {
  position:absolute;
  margin: auto;
  width:720px;
  height:100px;
  background-image:url("../res/images/footer.png");
  background-repeat:no-repeat;
  background-position:center;
  text-align: center;
  top: 95%; left: 0; bottom: 0; right: 0; 
}
